@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

:root{
    --main-color-wishlish: #A3A1A3;
    --fs-enjoy-title: 210px;
    --img-size-wpt: calc(100vw/3.5);
}
#header__wishlist{
    height: 80px;
    background-color: var(--main-color-wishlish);
    border-bottom: 1px solid burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header__wishlist .between__text__top{
    text-align: center;
}
#header__wishlist .between__text__top, #header__wishlist .between__text__bottom{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size:50px;
    font-weight: 500;
}
#header__wishlist .between__text__bottom{
    transform: rotate(180deg);
}
#uyen__wishlist{
    background-color: var(--main-color-wishlish);
}

#uyen__wishlist .intro__title
{
    font-family: 'BioRhyme', serif;
    font-size: var(--fs-enjoy-title);
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            black 0%,
            darkslategray 29%,
            #9CD08E 67%,
            #F9A04E 100%
    );
    background-size: auto auto;
    background-size: 200% auto;
    color: #E2D9CE;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

#uyen__wishlist .button__nav {
    display: flex;
    flex-direction: column;
    position: relative;
}

#uyen__wishlist .btn__go__homepage{
    margin: auto;
    width: 260px;
    height: 55px;
    background-color: black;
}

#uyen__wishlist .btn__go__homepage a{
    color: white;
}
#uyen__wishlist .btn__go__news__post a{
    color: black;
}
#uyen__wishlist .btn__go__news__post a, #uyen__wishlist .btn__go__homepage a{
    margin: auto;

}
#uyen__wishlist .btn__go__news__post{
    background-color: #E2D9CE;
    grid-column: 2;
    align-items: flex-end;

}
#uyen__wishlist .btn__go__new_posts_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

#uyen__wishlist .btn__go__homepage,
#uyen__wishlist .btn__go__news__post{
    width: 260px;
    height: 55px;
    display: flex;
    text-transform: uppercase;
    font-family: 'BioRhyme', serif;
    font-size: 20px;
    position: relative;
}
#uyen__wishlist .wishlist__post__wrapper{
    overflow-x: hidden;
}
#uyen__wishlist .wishlist__post{
    display: flex;
    gap: 65px;
    padding: 65px 0;
}
#uyen__wishlist .wishlist__post_thumbnail img{
    width: var(--img-size-wpt);
    height: var(--img-size-wpt);
    object-fit: cover;
    margin: 30px;

}
#uyen__wishlist .wishlist__post_thumbnail {
    width: calc(var(--img-size-wpt) + 60px);
    background-color: #E2D9CE;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    /*border-bottom-right-radius: 10px;*/
}
#uyen__wishlist .post__title{
    padding-bottom: 30px;
}
#uyen__wishlist .icon__liked{
    position: absolute;
    right: -5%;
    bottom: -5%;
    font-size: calc(var(--img-size-wpt)/8.5);
    color: #F9A04E;
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}